@tailwind base;
@tailwind components;
@tailwind utilities;

html ::-webkit-scrollbar {
  display: none;
}

.d-none {
  display: none;
}

.container {
  @apply min-w-full h-full mx-auto;
  @apply flex;
  @apply bg-stone-900;
  @apply text-white;
  @apply fixed z-0;
}
.container .section {
  @apply px-5 pt-2 w-4/5;
  @apply flex-col items-center;
}
.bottom-menu {
  @apply w-full flex flex-row justify-between items-center;
  @apply bg-stone-800;
  @apply fixed bottom-0;
  @apply border-t border-solid;
  @apply text-slate-50;
  @apply z-10;
}

.name {
  @apply text-center text-sm font-bold;
  @apply rounded-sm  hover:bg-stone-700;
  @apply max-[360px]:text-xs p-0;
  @apply max-[420px]:text-xs p-0;
  padding: 0 0 0 5px;
}

.left-menu {
  @apply flex flex-col justify-between items-center;
  @apply w-13 h-full;
  @apply bg-stone-900;
  @apply fixed z-10;
}
.left-menu .icon {
  @apply flex flex-col justify-center items-center;
  @apply w-full h-14;
  @apply cursor-pointer;
}
.left-menu .icon button {
  @apply w-full h-11 p-1;
  @apply flex justify-center items-center;
  @apply text-center font-bold text-2xl;
  @apply cursor-pointer;
  @apply border-solid border-l-2 border-transparent;
  @apply focus:outline-none focus:border-l-2 focus:border-solid focus:border-white focus:bg-stone-800;
  @apply transition duration-150 ease-in-out;
  @apply hover:bg-stone-800 rounded-sm;
}
.left-menu .icon button img {
  @apply w-full h-full mr-1;
  @apply object-contain;
}

.btn-profile {
  @apply mb-4;
  @apply max-[360px]:mb-8;
  @apply max-[420px]:mb-5;
}

.about-container {
  @apply w-[90.5rem];
  @apply max-[1280px]:w-[64.5rem];
  @apply max-[1180px]:w-[58.5rem];
  @apply max-[1024px]:w-[50.5rem];
  @apply max-[960px]:w-[53.5rem];
  @apply max-[900px]:w-[49.5rem];
  @apply max-[800px]:w-[43.5rem];
  @apply max-[768px]:w-[38.5rem];
  @apply max-[720px]:w-[39.5rem];
  @apply max-[680px]:w-[37.5rem];
  @apply max-[640px]:w-[33.5rem];
  @apply max-[620px]:w-[32rem];
  @apply max-[600px]:w-[29.5rem];
  @apply max-[560px]:w-[27.5rem];
  @apply max-[520px]:w-[26.5rem];
  @apply max-[480px]:w-[23.5rem];
  @apply max-[460px]:w-[23rem];
  @apply max-[440px]:w-[22rem];
  @apply max-[420px]:w-[21.5rem];
  @apply max-[400px]:w-[20rem];
  @apply max-[390px]:w-[19rem];
  @apply max-[360px]:w-[18.3rem];
  @apply max-[320px]:w-[15.3rem];
}
.about-me {
  @apply flex flex-row items-center justify-items-start;
  @apply h-10 pl-5 w-full;
  @apply text-white;
  @apply border border-gray-500 border-solid rounded-xl;
  @apply hover:bg-stone-700;
}

.about-me img {
  @apply w-5 h-5 mr-4;
}

.about-me span {
  @apply text-2xl font-bold;
}

.personnal {
  @apply flex mx-2 mt-2 text-center;
}

.dev-profile {
  @apply flex flex-col items-center mt-3;
  @apply w-full h-full;
  @apply bg-stone-900;
  @apply text-white;
  @apply overflow-hidden;
}
.dev-profile {
  @apply max-[1280px]:w-[64.5rem];
  @apply max-[1180px]:w-[58.5rem];
  @apply max-[1024px]:w-[50.5rem];
  @apply max-[960px]:w-[53.5rem];
  @apply max-[900px]:w-[49.5rem];
  @apply max-[800px]:w-[43.5rem];
  @apply max-[768px]:w-[38.5rem];
  @apply max-[720px]:w-[39.5rem];
  @apply max-[680px]:w-[37.5rem];
  @apply max-[640px]:w-[33.5rem];
  @apply max-[620px]:w-[32rem];
  @apply max-[600px]:w-[29.5rem];
  @apply max-[560px]:w-[27.5rem];
  @apply max-[520px]:w-[26.5rem];
  @apply max-[480px]:w-[23.5rem];
  @apply max-[460px]:w-[23rem];
  @apply max-[440px]:w-[22rem];
  @apply max-[420px]:w-[21.5rem];
  @apply max-[400px]:w-[20rem];
  @apply max-[390px]:w-[19rem];
  @apply max-[360px]:w-[18.3rem];
  @apply max-[320px]:w-[15.3rem];
}

.dev-profile .profile {
  @apply flex flex-col items-center justify-items-center;
  @apply w-full h-full;
  @apply text-white;
  @apply overflow-hidden;
  @apply cursor-default;
}

.dev-profile .profile .profile-img {
  @apply w-48 h-48;
  @apply rounded-full;
  @apply border-4 border-solid border-white;
  @apply overflow-hidden;
  @apply mt-5;
}

.dev-profile .profile .profile-img img {
  @apply w-full h-full;
  @apply object-cover;
}

.dev-profile .profile .profile-info {
  @apply flex flex-col items-center justify-items-center;
}

.dev-profile .profile .profile-info .full-name {
  @apply text-2xl font-bold mt-3;
  @apply font-sans;
}

.dev-profile .profile .profile-info .stack {
  @apply flex flex-row items-center justify-items-center;
  @apply text-sm font-bold mt-3;
}

.dev-profile .profile .profile-info .stack .spin {
  @apply animate-spin rounded-full h-2 w-2 border-t-2 border-b-2 border-blue-800;
}
.dev-profile .profile .profile-info .desc {
  @apply text-sm font-bold mt-3;
  @apply text-start;
  @apply max-w-[300px];
  @apply font-sans;
}

.dev-profile .profile .profile-info .social {
  @apply flex flex-row items-center justify-items-center;
  @apply mt-4;
}

.social .social-item {
  @apply flex justify-center items-center;
  @apply w-7 h-7 mr-2;
  @apply rounded-full;
  @apply overflow-hidden;
  @apply cursor-pointer;
  @apply transition duration-150 ease-in-out;
  @apply hover:bg-stone-700;
}

.side {
  @apply grid grid-cols-2;
  @apply w-full h-full;
  @apply overflow-y-auto;
  @apply pb-6;
}
.c-grid {
  @apply max-[680px]:grid-cols-1;
  @apply max-[640px]:grid-cols-1;
  @apply max-[620px]:grid-cols-1;
  @apply max-[600px]:grid-cols-1;
  @apply max-[560px]:grid-cols-1;
  @apply max-[520px]:grid-cols-1;
  @apply max-[480px]:grid-cols-1;
  @apply max-[460px]:grid-cols-1;
  @apply max-[440px]:grid-cols-1;
  @apply max-[420px]:grid-cols-1;
  @apply max-[400px]:grid-cols-1;
  @apply max-[390px]:grid-cols-1;
  @apply max-[360px]:grid-cols-1;
  @apply max-[320px]:grid-cols-1;
}

.side-left {
  @apply flex flex-col items-center justify-items-center;
  @apply w-auto h-full;
  @apply overflow-y-auto;
  @apply bg-stone-800;
  @apply transition duration-1000 ease-in-out;
}

.left {
  @apply max-[1280px]:w-10/12;
  @apply max-[1180px]:w-10/12;
  @apply max-[1024px]:w-10/12;
  @apply max-[960px]:w-10/12;
  @apply max-[900px]:w-10/12;
  @apply max-[800px]:w-10/12;
  @apply max-[768px]:w-10/12;
  @apply max-[720px]:w-10/12;
  @apply max-[680px]:w-auto;
  @apply max-[640px]:w-auto;
  @apply max-[620px]:w-auto;
  @apply max-[600px]:w-auto;
  @apply max-[560px]:w-auto;
  @apply max-[520px]:w-auto;
  @apply max-[480px]:w-auto;
  @apply max-[460px]:w-auto;
  @apply max-[440px]:w-auto;
}

.side-right {
  @apply flex flex-col items-center justify-items-start;
  @apply w-full h-full;
  @apply overflow-y-auto;
}
.right {
  @apply max-[1280px]:w-11/12;
  @apply max-[1180px]:w-11/12;
  @apply max-[1024px]:w-11/12;
  @apply max-[960px]:w-11/12;
  @apply max-[900px]:w-11/12;
  @apply max-[800px]:w-11/12;
  @apply max-[768px]:w-11/12;
  @apply max-[720px]:w-11/12;
  @apply max-[680px]:hidden;
  @apply max-[640px]:hidden;
  @apply max-[620px]:hidden;
  @apply max-[600px]:hidden;
  @apply max-[560px]:hidden;
  @apply max-[520px]:hidden;
  @apply max-[480px]:hidden;
  @apply max-[460px]:hidden;
  @apply max-[440px]:hidden;
  @apply max-[420px]:hidden;
  @apply max-[400px]:hidden;
  @apply max-[390px]:hidden;
  @apply max-[360px]:hidden;
  @apply max-[320px]:hidden;
}

.skill-card {
  @apply flex flex-row;
  @apply w-full pl-16;
  @apply text-white  text-start;
  @apply border-y-2 border-gray-500 border-solid;
  @apply cursor-default;
  @apply transition duration-150 ease-in-out;
}

.skill-card .skill-img {
  @apply w-20 h-20;
  @apply overflow-hidden;
  @apply my-auto;
}

.skill-card .skill-img img {
  @apply w-full h-full;
  @apply object-cover;
}
.skill-body {
  @apply flex flex-col items-start justify-items-start;
  @apply overflow-y-auto;
  @apply mt-2 mb-5 mx-3;
  @apply text-start;
}
.skill-card .skill-info .skill-name {
  @apply text-lg mt-3 text-start;
  @apply font-bold font-sans;
}

.skill-card .options {
  @apply flex flex-row items-end justify-items-end;
}

.options img {
  @apply w-5 h-5 ml-2;
  @apply cursor-pointer;
  @apply transition duration-150 ease-in-out;
  @apply hover:opacity-50;
}

.folder {
  @apply flex flex-col items-start justify-items-start;
  @apply w-full h-32 pl-14;
  @apply cursor-default;
  @apply transition duration-150 ease-in-out;
}

.folder .all-pro {
  @apply flex flex-col items-start justify-items-start;
  @apply mt-2 mb-5 mx-3 w-full;
  @apply text-start;
}

.project .button-project {
  @apply flex flex-row items-center justify-items-center;
  @apply overflow-y-auto;
  @apply pl-5 w-full;
  @apply text-start;
}

.button-project .folder-img {
  @apply w-9 h-9;
  @apply overflow-hidden;
  @apply my-auto mr-2;
}

.button-project .folder-img img {
  @apply w-full h-full;
  @apply object-cover;
}

.button-project .folder-name {
  @apply text-lg mt-3 text-start;
  @apply font-bold font-sans;
}

.text-suspensive {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.git-table {
  @apply flex flex-col items-center justify-items-start;
  @apply w-full h-full mt-5 pl-14 pb-14;
  @apply text-white  text-start;
  @apply cursor-default;
  @apply transition duration-150 ease-in-out;
  @apply overflow-y-auto;
}

table {
  @apply w-full;
  @apply border-collapse;
  @apply border-2 border-gray-500 border-solid;
}

.git-table .table-header tr th {
  @apply text-white  text-start;
  @apply border-2 border-gray-500 border-solid;
  @apply cursor-default;
  @apply transition duration-150 ease-in-out;
  @apply px-2;
}

.git-table .table-body tr .data {
  @apply text-white  text-start;
  @apply border-2 border-gray-500 border-solid;
  @apply cursor-default;
  @apply transition duration-150 ease-in-out;
  @apply px-2;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 52px;
}
.point::before,
.point::after {
  content: '';
  width: 3px;
  position: absolute;
  top: 0;
  right: 48%;
  transform: rotateY(180deg);
  background: #5e9eff;
  height: 100%;
}
.circle {
  border-radius: 50%;
  background: #5e9eff;
  padding: 6px;
  width: 6px;
  height: 6px;
}

.break {
  @apply max-[680px]:hidden;
  @apply max-[640px]:hidden;
  @apply max-[620px]:hidden;
  @apply max-[600px]:hidden;
  @apply max-[560px]:hidden;
  @apply max-[520px]:hidden;
  @apply max-[480px]:hidden;
  @apply max-[460px]:hidden;
  @apply max-[440px]:hidden;
  @apply max-[420px]:hidden;
  @apply max-[400px]:hidden;
  @apply max-[390px]:hidden;
  @apply max-[360px]:hidden;
  @apply max-[320px]:hidden;
}
.point {
  @apply max-[960px]:h-28;
  @apply max-[900px]:h-28;
  @apply max-[800px]:h-28;
  @apply max-[768px]:h-28;
  @apply max-[720px]:h-28;
  @apply max-[680px]:h-32;
  @apply max-[640px]:h-32;
  @apply max-[620px]:h-32;
  @apply max-[600px]:h-32;
  @apply max-[560px]:h-32;
  @apply max-[520px]:h-32;
  @apply max-[480px]:h-32;
  @apply max-[460px]:h-32;
  @apply max-[440px]:h-32;
  @apply max-[420px]:h-28;
  @apply max-[400px]:h-32;
  @apply max-[390px]:h-32;
  @apply max-[360px]:h-32;
  @apply max-[320px]:h-32;
}

.table {
  @apply max-[1280px]:w-11/12;
  @apply max-[1180px]:w-11/12;
  @apply max-[1024px]:w-11/12;
  @apply max-[960px]:w-11/12;
  @apply max-[900px]:w-11/12;
  @apply max-[800px]:w-11/12;
  @apply max-[768px]:w-11/12;
  @apply max-[720px]:w-11/12;
  @apply max-[680px]:w-11/12;
  @apply max-[640px]:w-11/12;
  @apply max-[620px]:w-11/12;
  @apply max-[600px]:w-11/12;
  @apply max-[560px]:w-11/12;
  @apply max-[520px]:w-11/12;
  @apply max-[480px]:w-11/12;
  @apply max-[460px]:w-11/12;
  @apply max-[440px]:w-11/12;
  @apply max-[420px]:w-11/12;
  @apply max-[400px]:w-11/12;
  @apply max-[390px]:w-11/12;
  @apply max-[360px]:w-11/12;
  @apply max-[320px]:w-11/12;
}

@keyframes skeletonLoading {
  0% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f5f5f5;
  }
}

.skeleton {
  animation: skeletonLoading 1s ease-in-out infinite alternate;
}

.skeleton .skeleton-avatar {
  @apply w-12 h-12;
  @apply rounded-full;
}

.skeleton .skeleton-box {
  @apply w-3/4 h-4;
  @apply rounded-md;
}

.menu-grid {
  @apply w-full grid grid-cols-1 gap-4 pl-16 p-5 mb-8;
  @apply overflow-y-auto;
  @apply sm:grid-cols-2;
  @apply md:grid-cols-3;
  @apply lg:grid-cols-4;
  @apply xl:grid-cols-5;
  @apply 2xl:grid-cols-6;
}

.menu-grid .card {
  @apply flex flex-row;
  @apply items-start;
  @apply justify-items-start;
  @apply w-full;
  @apply h-28;
  @apply bg-gray-600;
  @apply rounded-md;
  @apply shadow-md;
  @apply transition duration-150 ease-in-out;
  @apply hover:shadow-lg;
  @apply truncate;
}

.menu-grid .card .card-img {
  @apply flex flex-row;
  @apply items-center;
  @apply justify-center;
  @apply w-1/4;
  @apply h-28;
}
.menu-grid .card .card-img img {
  @apply w-full h-full;
  @apply rounded-full;
  @apply object-fill;
}

.menu-grid .card .card-body {
  @apply flex flex-col;
  @apply w-3/4  h-full p-2;
}

.menu-grid .card .card-body .card-title {
  @apply text-white;
  @apply font-semibold;
  @apply text-xl;
  @apply truncate;
}

.menu-grid .card .card-body .card-lang {
  @apply font-medium;
  @apply text-xs p-1;
  @apply truncate;
}

.menu-grid .card .card-body .card-desc {
  @apply text-white p-1;
  @apply text-xs;
  @apply truncate;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}